.form-field{
    width: 40%;
    margin: 10px;
    align-items: center;
    
}
html,body { 
    height:98%;
}

.profile-container{
    width: 100%;
    background-color:cornsilk;
    display: flex;
    flex-flow: row wrap;
    padding: 0px 9%;
    overflow-y: auto;
    margin-top: 100px;
}

.logout{
    padding-top: 0px;
    float: right; 
    margin: 15px;
}

.profile-card{
    margin: 15px;
    height: 250px;
    width: 210px;
    cursor: pointer;
}

img{
    margin: 0px 0%;
    width: 100%;
}

.detail-section-of-profile{
    height: 50px;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    text-transform: capitalize;
    display: table-cell;
    vertical-align: middle;
    width: 100vw
}

.users-Div{
    height: 100px;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: cadetblue;
    width: 100%;
    margin: 0px;
}

.welcome-heading{
    font-size:30px;
    margin: 20px;
    position: relative;
    top: 20px;
    font-weight: 700;
}

.search{
    font-size: 25px;
}

.inputForSearch{
    height: 25px;
}