<div class="row users-Div">

    <div class="col-md-6">
        <mat-label class="welcome-heading">Welcome to Profile page!!</mat-label>
    </div>

    <div class="col-md-2">
        <button mat-raised-button class="logout" color="primary" (click)="onLogout()">Logout</button>
    </div>

    <div class="col-md-4">
        <mat-form-field class="form-field">
            <mat-label>Search</mat-label>
            <mat-icon matPrefix class="search">search</mat-icon>
            <input matInput type="text" (keyup)="onSearchUser()" [(ngModel)]="Search" class="inputForSearch">
            <button *ngIf="Search" matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

</div>

<div class="profile-container">
    <mat-card matRipple (click)="onSelectProfile(profile?.id)"*ngFor="let profile of allProfiles; let i = index;" class="profile-card" >
        <section class="image-section-of-profile">
            <img [src]="profile?.picture" alt=" user picture">
        </section>
        <section class="detail-section-of-profile">
            {{profile?.title}}, {{profile?.firstName}} {{profile?.lastName}}
        </section>
    </mat-card>
</div>