<div class="row"
    style="height: 65px;position: fixed;z-index: 1000;top: 0;background-color: white;width: 100%; margin: 0px;">
    <div class="col-md-8">
        <mat-label style="
        margin: 20px;
        position: relative;
        top: 20px;
        font-size: 50px;
        font-weight: 700;
    ">Welcome!</mat-label>

    </div>
    <div class="col-md-2">
        <button mat-raised-button color="accent" (click)="back()" style="float:right; margin: 15px;">Back</button>
    </div>
    <div class="col-md-2">
        <button mat-raised-button color="warn" (click)="logout()" style="float:right; margin: 15px;">Logout</button>

    </div>
</div>
<div class="profile-container">
    <mat-card class="card">
        <table style="width: 100%;">
            <tr>

                <td> Title: </td>
                <td style="text-transform: capitalize;"> {{user?.title}} </td>
            </tr>
            <tr>

                <td> First Name: </td>
                <td> {{user?.firstName}} </td>
            </tr>
            <tr>

                <td> Last Name: </td>
                <td> {{user?.lastName}} </td>
            </tr>
            <tr>

                <td> Email: </td>
                <td> {{user?.email}} </td>
            </tr>
        </table>
    </mat-card>
</div>