<div class="row" style="background-color: cadetblue;height: 100px; width: 100%;position: fixed;margin: 0px; z-index: 1000; top: 0">

    <div class="col-md-8">
        <button mat-raised-button class="back" color="warn" (click)="onBack()">Back</button>
    </div>

    <div class="col-md-6">
        <mat-label class="profile-heading">Welcome to Profile Detail Page!</mat-label>
    </div>

    <div class="col-md-4">
        <button mat-raised-button class="logout" color="primary" (click)="onLogout()">Logout</button>
    </div>
</div>

<div class="profile-detail-container">
    <mat-card class="card">
        <table class="table-class">
            <tr>
                <td> Title: </td>
                <td class="title"> {{user?.title}} </td>
            </tr>
            <tr>
                <td> First Name: </td>
                <td> {{user?.firstName}} </td>
            </tr>
            <tr>
                <td> Last Name: </td>
                <td> {{user?.lastName}} </td>
            </tr>
            <tr>
                <td> Email: </td>
                <td> {{user?.email}} </td>
            </tr>
        </table>
    </mat-card>
</div>